/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
}
body {
  height: inherit;
  min-height: 100%;
}
html,body {
  height: 100%;
}
.h-minus-navbar {
  height: calc(100vh - 50px);
}